
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    color: #1D1D1D;
    font-weight: 500;
}

/*Configurações de Corpo*/
.body-style{
    margin: 60px 30px 30px 30px;
} 

.dashboard-body{
    display: flex; 
    flex-direction: column;
}

/*Cabeçalho Dashboard*/
.dashboard-header{
    display: flex;
    flex-direction: row; 
    align-items: center; 
    margin-bottom: 40px;
    justify-content: space-between;
}

.login-header{
    display: flex;
    flex-direction: row; 
    align-items: center; 
    margin-bottom: 40px;
    justify-content: space-between;
}

.profile-photo{
    height: 40px; 
    width: 40px; 
    border-radius: 20px;
}

/* Configurações de Texto*/

.title-header{
    font-size: 20px;
    display: flex; 
    flex-direction: column;
}

.title-section{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}

.bold{ 
    font-weight: 700;
    color: #1d1d1d;
}
.extrabold{
    font-weight: 800;
    color: #1d1d1d;
}

.subtitle{ 
    color: #8B8B8B;
    font-size: 12px; 
    font-weight: 500;
}
.subtitle-bold{
    color: #8B8B8B;
    font-size: 12px; 
    font-weight: 700;
}
.button-text{
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}
.disable{
    color: #8B8B8B;
}

.paragrapher{
    font-size: 15px;
    color: #8B8B8B;
}

.link{
    color: #1D1D1D;
    font-weight: 700;
    text-decoration: none;
}
.link:hover{
    color: #000000;
}

.link:focus{
    color: #000000;
}
/*Barra de Progresso*/

.bar {
    margin-bottom: 40px
}

.progress-bar {
    background-color: #F0F0F0; 
    width: 100% ;
    height: 5px; 
    position: relative;
    margin: 8px 0px; 
    border-radius: 5px;
}

.top-bar{
    background-color: #2BB673; 
    width: 72%;
    margin-top: -13px;
}

/*Configurações de Task*/
.task{
    background-color: #fff; 
    padding: 16px 14px; 
    border-radius: 10px; 
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    margin: 8px 0px;
}

.task-div{
    margin-bottom: 32px;
}

.task-name{
    display: flex; 
    flex-direction: column;
}

.task-title{
    font-size: 13px;
    font-weight: 700;
}

.task-date{
    margin-left: 8px;
}

.priority{
    display: flex; 
    border-radius: 20px; 
    margin-left: 8px; 
    width: 8px; 
    height: 8px; 
    float: right;
}
.urgente{
    background-color: #FF5858;
}
.intermediario{
    background-color: #F8D351;
}
.basico{
    background-color: #3879C1;
}
.concluido{
    background-color: #2BB673;
    
    padding: 4px;
}

/*Configurações de Botão*/
.button-primary{
    padding: 12px 100%;
    background-color: #2BB673;
}
.create-task-button{
    display: flex;
    align-items: center;
    position: fixed; 
    right: 32px; 
    bottom: 50px;
    padding: 12px 16px;
    background-color: #2BB673;
    border-radius: 20px;
}
/*Configurações de Input*/

.input-text{
    background-color: #fff; 
    padding: 16px 14px; 
    padding-left: 36px;
    border-radius: 10px; 
    margin: 8px 0px;
    border: none;
    outline: none;
    width: 350px;
    font-family: 'Montserrat', sans-serif;
    color: #8B8B8B;
    font-size: 13px; 
    font-weight: 500;
}

.input-text:hover{
    background-color: #F0F0F0;
    
}

.input-text:focus{
    background-color: #F0F0F0;
}

.login-div{
    position: relative;
}

.label{
    position: absolute;
    top: 42px;
    left: 16px;
    
}

.input-submit{
    margin-top: 24px;
    padding: 12px 0px;
    width: 100%;
    border-radius: 10px;
    outline: none;
    border: none;
    text-indent: -36px;
    font-family: "Montserrat";
    font-weight: 500;
    font-size: 16px;
    background-color: #2BB673;
    color:#fff ;
}

.input-submit:hover{
    background-color: #23a064;
}

.input-submit:focus{
    background-color: #23a064;
}
