/*Configurações de Corpo*/
.body-style{
    margin: 60px 30px 30px 30px;
} 

.dashboard-body{
    display: flex; 
    flex-direction: column;
}

/*Cabeçalho Dashboard*/
.dashboard-header{
    display: flex;
    flex-direction: row; 
    align-items: center; 
    margin-bottom: 40px;
    justify-content: space-between;
}

.login-header{
    display: flex;
    flex-direction: row; 
    align-items: center; 
    margin-bottom: 40px;
    justify-content: space-between;
}

.profile-photo{
    height: 40px; 
    width: 40px; 
    border-radius: 20px;
}

/* Configurações de Texto*/

.title-header{
    font-size: 18px;
    margin-left: 8px; 
    display: flex; 
    flex-direction: column;
}

.title-section{
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 8px;
}

.bold{ 
    font-weight: 700;
    color: #1d1d1d;
}
.extrabold{
    font-weight: 800;
    color: #1d1d1d;
}

.subtitle{ 
    color: #8B8B8B;
    font-size: 10px; 
    font-weight: 500;
}

.button-text{
    font-size: 12px;
    font-weight: 600;
    color: #fff;
}
.disable{
    color: #8B8B8B;
}
/*Barra de Progresso*/
.bar {
    margin-bottom: 40px
}

.progress-bar {
    background-color: #F0F0F0; 
    width: 100% ;
    height: 5px; 
    position: relative;
    margin: 8px 0px; 
    border-radius: 5px;
}

.top-bar{
    background-color: #2BB673; 
    width: 72%;
    margin-top: -13px;
}

/*Configurações de Task*/
.task{
    background-color: #fff; 
    padding: 16px 14px; 
    border-radius: 10px; 
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    margin: 8px 0px;
}

.task-div{
    margin-bottom: 32px;
}

.task-name{
    display: flex; 
    flex-direction: column;
}

.task-title{
    font-size: 10px;
    font-weight: 700;
}

.task-date{
    margin-left: 8px;
}

.priority{
    display: flex; 
    border-radius: 20px; 
    margin-left: 8px; 
    width: 8px; 
    height: 8px; 
    float: right;
}
.urgente{
    background-color: #FF5858;
}
.intermediario{
    background-color: #F8D351;
}
.basico{
    background-color: #3879C1;
}
.concluido{
    background-color: #2BB673;
    
    padding: 4px;
}

/*Configurações de Botão*/
.button-primary{
    padding: 12px 100%;
    background-color: #2BB673;
}
.create-task-button{
    display: flex;
    align-items: center;
    position: fixed; 
    right: 32px; 
    bottom: 50px;
    padding: 12px 16px;
    background-color: #2BB673;
    border-radius: 20px;
}
